<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.myapplication" >

    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Step Counter"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Step Counter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FitnessActivity"
            android:label="Fitness Plan" />

        <service
            android:name=".SensorService"
            android:exported="false" />

        <activity
            android:name=".StepRecordActivity"
            android:label="Step Record"
            android:exported="true">
        </activity>
        <activity
            android:name=".DailyFitnessActivity"
            android:label="Daily Fitness Plan"/>
    </application>

</manifest>
