<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.myapplication" >

    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Step Counter"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Step Counter"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FitnessActivity"
            android:label="New Fitness Plan"
            android:screenOrientation="portrait"/>

        <service
            android:name=".SensorService"
            android:exported="false" />

        <activity
            android:name=".StepRecordActivity"
            android:exported="true"
            android:label="Step Record"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyFitnessActivity"
            android:label="My Fitness Plan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait"
            android:label="User Information" />
        <activity
            android:name=".StepChartActivity"
            android:label="Step Chart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewActivity"
            android:label="User Information"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewStepDetailActivity"
            android:label="View Step Detail"
            android:screenOrientation="portrait" />
        <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    </application>

</manifest>
